<?xml version="1.0"?>
<config>
    <modules>
        <Dyna_Forum>
            <version>0.1.1</version>
        </Dyna_Forum>
    </modules>
    <frontend>
        <routers>
            <forum>
                <use>standard</use>
                <args>
                    <module>Dyna_Forum</module>
                    <frontName>forum</frontName>
                </args>
            </forum>
        </routers>
        <layout>
            <updates>
                <forum>
                    <file>forum.xml</file>
                </forum>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <forum>
                <class>Dyna_Forum_Model</class>
                <resourceModel>forum_mysql4</resourceModel>
            </forum>
            <forum_mysql4>
                <class>Dyna_Forum_Model_Mysql4</class>
                <entities>
                    <forum>
                        <table>forum</table>
                    </forum>
                </entities>
            </forum_mysql4>
        </models>
        <resources>
            <forum_setup>
                <setup>
                    <module>Dyna_Forum</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </forum_setup>
            <forum_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </forum_write>
            <forum_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </forum_read>
        </resources>
        <blocks>
            <forum>
                <class>Dyna_Forum_Block</class>
            </forum>
        </blocks>
        <helpers>
            <forum>
                <class>Dyna_Forum_Helper</class>
            </forum>
        </helpers>
    </global>
</config>